@model Sempa.BLL.VM.UserVm.CreateUserVm

@{
    Layout = "_Layout";
    ViewBag.Title = "Create";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg rounded-4 w-50">
        <div class="card-header bg-primary text-white text-center fw-bold p-3">
            Create New User
        </div>

        <div class="card-body">
            <form asp-action="create" asp-controller="User" method="post" class="px-4" enctype="multipart/form-data">

                <!-- First Name -->
                <div class="mb-3 text-start">
                    <label asp-for="FirstName" class="form-label fw-bold"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <!-- Last Name -->
                <div class="mb-3 text-start">
                    <label asp-for="LastName" class="form-label fw-bold"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="mb-3 text-start">
                    <label asp-for="Email" class="form-label fw-bold"></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="mb-3 text-start">
                    <label asp-for="Password" class="form-label fw-bold"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 text-start">
                    <label asp-for="Profile" class="form-label fw-bold"></label>
                    <span asp-validation-for="Profile" class="text-danger"></span>
                </div>

                <!-- Message -->
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger text-center">
                        @ViewBag.Message
                    </div>
                }

                <!-- Submit -->
                <div class="text-center">
                    <button type="submit" class="btn btn-success px-5">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
